# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# sqlite database & logs
prisma/dev.db
prisma/dev.db-journal
*.sqlite
*.sqlite3
*.db
*.db-journal
*.log

# IDE & Editor files
.idea/
.vscode/
*.swp
*.swo

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
